@import "tailwindcss";

/* Optional: global font or reset */
html,
body {
  @apply bg-gray-50 text-gray-900;
  input[type="checkbox"]:checked {
    background-color: #eab308; /* Tailwind yellow-500 */
    border-color: #eab308;
    color: white; /* ✅ Makes the tick white */
  }
}
